body{
    margin: 0px;
    font-family: Arial;
}

.section-1{
    background-color: rgb(75, 75, 231);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: crnter;
}

input[type='button'] {
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 15px;
    
}

a:visited{
    color: white;
}

a:hover {
    color:lightgray;
}

.image-container{
    background-color: rgb(75, 75, 231);
    color: white;
    display: flex;
    flex-direction: row;
}

.image-container img {
    margin-right: 25x;
}

.section-2{
    background-color: rgb(75, 75, 231);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;   
}

.paragraph-container{
    background-color: rgb(75, 75, 231);
    color: white;
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    background-color: rgb(75, 75, 231);
    color: white;
}

.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

.section-3{
    background-color: rgb(75, 75, 231);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;  
}